.navbar-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 0;
    position: fixed;
    bottom: 0;
    width: 100%; 
    max-width: 420px;
    height: 60px;
    border-top: 1px solid #da9797;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5a5959;
    padding-bottom: 15px;
    gap:15px;
}
.navbar-item{
    flex: 1;
    text-decoration: none;
    color: #5a5959;
}

.navbar-item:hover{
    border-top: 2px solid blue;
}

